<h3>
  <%= t 'profiles.edit.title.details' %>
</h3>

<% if profile.errors.any? %>
  <div style="color: red">
    <h2><%= t("error.profile", count: profile.errors.count) %></h2>
    <ul>
      <% profile.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<dl class="definition-list definition-list-grid definition-list-grid-large profile_field_inclusivity">
<!--
  <dt><%= t "attr_labels.profile.official_name" %></dt>
  <dd>
    <span><%= profile.person.name.official_display %></span>
    <%= link_to icon('edit-3'), edit_profile_path(profile, official_name: true), data: { turbo_stream: true } %>
  </dd>

  <dt><%= t "attr_labels.profile.usual_name" %></dt>
  <dd>
    <span><%= profile.person.name.display %></span>
    <%= link_to icon('edit-3'), edit_profile_path(profile, usual_name: true), data: { turbo_stream: true } %>
  </dd>

  <dt><%= t("attr_labels.profile.inclusivity") %></dt>
  <dd class="rpush">
    <%= turbo_frame_tag dom_id(@profile, :show_inclusivity) do %>
      <%= render "inclusivity/inclusivity_toggle", profile: @profile %>
    <% end %>
  </dd>
-->

  <dt><%= t "attr_labels.profile.public_email" %></dt>
  <dd>
    <% unless profile.public_email == profile.email %>
      <%= profile.public_email %>
      &rarr;
    <% end %>
    <%= profile.email %>
    <%= link_to icon('edit-3'), "https://ewa.epfl.ch/tools/default.aspx", target: "blank" %>
  </dd>

</dl>


<%= turbo_frame_tag "profile_field_nationality" do %>
  <%= render "profiles/fields/field_nationality", profile: @profile %>
<% end %>


<%= turbo_frame_tag "profile_field_personal_web_url" do %>
  <%= render "profiles/fields/field_personal_web_url", profile: @profile %>
<% end %>

<%= turbo_frame_tag "profile_field_personal_phone" do %>
  <%= render "profiles/fields/field_personal_phone", profile: @profile %>
<% end %>
