<h3>
	<%= t 'profiles.edit.title.details' %>
	<%= link_to icon('edit-3'), edit_profile_path(profile, details: true), data: {turbo_stream: true} %>
</h3>
<dl class="definition-list definition-list-grid">

	<dt><%= t "profile.available_languages" %></dt>
	<dd>
		<%= profile.translations.map{|l| t("lang.#{l}")}.join(", ") %>
		<%#= remote_modal_for(edit_profile_path(profile, languages: true)) do %>
		  <%#= icon('edit-3') %>
		<%# end %>
	</dd>

  <dt><%= t "profile.official_name" %></dt>
  <dd><span><%= profile.person.name.official_display %></span></dd>

  <% if profile.person.name.customizable? %>
  <dt><%= t "profile.usual_name" %></dt>
  <dd>
    <span><%= profile.person.name.display %></span>
    <%= link_to icon('edit-3'), edit_profile_path(profile, name: true), data: {turbo_stream: true} %>
  </dd>
  <% end %>

  <dt><%= t("profile.inclusivity") %></dt>
  <dd class="rpush">
    <%= turbo_frame_tag dom_id(@profile, :show_inclusivity), class: "ms-3" do %>
      <%= render "inclusivity/inclusivity_toggle", profile: @profile %>
    <% end %>
  </dd>


  <dt><%= t "profile.nationality" %></dt>
  <% if (profile.t_nationality).present? %>
	  <dd class="rpush">
	  	<%= all_lang_span(profile, "nationality") %>
	  	<%= render 'shared/item_visibility', item: profile, property: 'nationality' %>
	  </dd>
  <% else %>
  	<dd><span><%= t "undefined" %></span></dd>
	<% end %>

  <dt><%= t "profile.expertise" %></dt>
  <% if (profile.t_expertise).present? %>
	  <dd class="rpush">
	  	<%= profile.t_expertise %>
	  	<%= render 'shared/item_visibility', item: profile, property: 'expertise' %>
	  </dd>
  <% else %>
  	<dd><span><%= t "undefined" %></span></dd>
	<% end %>

  <dt><%= t "profile.personal_web_url" %></dt>
  <% if (d=profile.personal_web_url).present? %>
	  <dd class="rpush">
	  	<span><%= d %></span>
	  	<%= render 'shared/item_visibility', item: profile, property: 'personal_web_url' %>
	  </dd>
  <% else %>
  	<dd><span><%= t "undefined" %></span></dd>
	<% end %>

  <dt><%= t "profile.personal_phone" %></dt>
  <% if (d=profile.personal_phone).present? %>
	  <dd class="rpush">
	  	<span><%= d %></span>
	  	<%= render 'shared/item_visibility', item: profile, property: 'phone' %>
	  </dd>
  <% else %>
	  <dd><span><%= t "undefined" %></span></dd>
	<% end %>

</dl>
