<% if profile.errors.any? %>
  <div style="color: red">
    <h2><%= t("error.profile", count: profile.errors.count) %></h2>
    <ul>
      <% profile.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% translations = profile.translations %>
<%= form_with(model: profile, local: false, class: "instaform") do |form| %>
  <%= translated_text_fields(form, :expertise, translations: translations) %>
  <%= translated_text_fields(form, :nationality, translations: translations) %>
	<%= single_text_field(form, :personal_web_url) %>
  <%= form_actions(form, profile) %>
<% end %>
