<%= turbo_frame_tag "profile_form", local: true, "data-turbo": false do %>
<%= form_with(model: profile) do |form| %>
	<%= hidden_field_tag("part", "languages") %>
  <%= form_group do %>
		<%#= form.label(t('.translations')) %>
		<div>
		  <% I18n.available_locales.each do |l| %>
				<%= attribute_switch(form, "#{l}_enabled", label: ".#{l}_enabled") %>
			<% end %>
		</div>
	<% end %>
  <div class="row justify-content-center">
		<%= form.submit t('.action.submit'), class: "btn btn-primary btn-sm" %>
	</div>
<% end %>
<% end %>
