<% content_for :body_tag do %>
<body id="tr_switchable" class="tr_enable_<%= I18n.locale %>">
<% end %>

<% # TODO: remove after migration from legacy %>
<% ado = Rails.configuration.enable_adoption && @adoption.present? && !@adoption.accepted? %>
<% content_for :menu do %>
  <%= link_to(
    icon_text('check-circle', t('action.preview')),
    ado ? preview_path(sciper_or_name: @person.email_user, lang: I18n.locale) : person_path(sciper_or_name: @person.email_user, lang: I18n.locale),
    class: "btn btn-link", target: '_blank'
  ) %>
<% end %>

<section id="name_section">
  <h2><%= t ".title.editing", name: @person.name.display, sciper: @person.sciper %></h2>
</section>

<% if allowed_to?(:manage_photos?, @profile) %>
<section id="pictures_section">
  <%= render 'pictures/pictures', profile: @profile, pictures: @profile.pictures %>
</section>
<% end %>

<p data-controller="social"></p>
<hr>

<section>
  <%= turbo_frame_tag "profile_section" do %>
    <%= render "editable_profile", profile: @profile %>
  <% end %>
</section>

<hr>
<section id="accreds_section">
  <%= turbo_frame_tag "accreds_index", src: profile_accreds_path(@profile), loading: :lazy do %>
    <%= render 'shared/spinner' %>
  <% end %>
</section>

<hr>

<section id="contact_boxes_section">
  <h3><%= t '.title.boxes_contact' %></h3>
  <%= render "flat_sections", sections: @contact_sections, profile: @profile %>
</section>

<section id="boxes_section">
  <h3><%= t '.title.boxes_main' %></h3>
  <%= render "shared/tabs", tabs: @sections.map.with_index { |section, i|
    {
      id: "section_#{section.label}",
      label: section.t_title,
      name: "edit-tabs-#{@profile.id}",
      frame_id: "#{section.label}_section",
      src: profile_section_boxes_path(@profile, section)
    }
  } %>
</section>


<%= turbo_frame_tag :remote_modal %>
<%= turbo_frame_tag(
  "editor",
  tabindex: 0,
  data: {
    controller: "dismissable",
    action: "keydown.esc->dismissable#dismiss",
    "dismissable-target": "content"
  }
) %>
