<% # TODO: remove after migration from legacy %>
<% if Rails.configuration.enable_adoption && @adoption.present? && !@adoption.accepted? %>
<% content_for :menu do %>
  <%= link_to(
    icon_text('check-circle', t('action.preview')), 
    preview_path(sciper_or_name: @person.email_user), 
    class: "btn btn-link", target: '_blank'
  ) %>
<% end %>
<% end %>

<% fake_breadcrumbs [
  t("action.edit_profile"), 
  link_to(@person.name.display, person_path(sciper_or_name: @person.email_user))
] %>

<section id="name_section">
  <h2><%= t "common.editing_profile", name: @person.name.display %> / <%= @person.sciper %></h2>
</section>

<section id="pictures_section">
  <%= render 'pictures/pictures', profile: @profile, pictures: @profile.pictures %>
</section>

<p data-controller="social"></p>
<hr>

<div
  id="tr_switchable"
  data-controller="language"
  data-language-full-value="<%= translation_classlist(@profile) %>"
  data-language-active-value="btn btn-sm btn-primary"
  data-language-inactive-value="btn btn-sm btn-secondary"
  class="<%= translation_classlist(@profile) %>" 
>
  <nav id="edit_lang_switchers" class="justify-content-center">
    <h5><%= t ".title.edit_language" %></h5>

    <% sl = current_work_translation(@profile) %>
    <% @profile.translations.each do |l| %>
      <%= button_tag(t(l),
        class: l==sl ? "btn btn-sm btn-primary" : "btn btn-sm btn-secondary",
        data: {
          "action": "language#setEnabledLanguage",
          "language-target": "button",
          "langcls": "tr_enable_#{l}",
        }
      ) %>
    <% end %>
    <%= remote_modal_for(edit_profile_path(@profile, languages: true)) do %>
      <%= icon('edit-3') %>
    <% end %>
  </nav>

  <section>
    <%= turbo_frame_tag "profile_section" do %>
      <%= render "editable_profile", profile: @profile %>
    <% end %>
  </section>

  <hr>
  <section id="accreds_section">
    <%= turbo_frame_tag "accreds_index", src: profile_accreds_path(@profile), loading: :lazy do %>
      <%= render 'shared/spinner' %>
    <% end %>
  </section>

  <hr>
  <section id="boxes_section" >
    <h3><%= t 'title.editable_boxes' %></h3>
    
    <ul class="nav nav-tabs mt-5" role="tablist">
      <% active = "active" %>
      <% @sections.each do |section| %>
        <% id = "section_#{section.label}" %>
        <li class="nav-item">
          <%= link_to section.t_title, "##{id}", id: "#{id}-tab", role: "tab",
                      class: "nav-link #{active}", data: { toggle: "tab" },
                      aria: { controls: id, selected: active ? "true" : "false" } %>
        </li>
        <% active = "" %>
      <% end %>
    </ul>

    <div class="tab-content p-3">
      <% active = "active" %>
      <% @sections.each do |section| %>
        <% id = "section_#{section.label}" %>
        <div class="tab-pane fade show <%= active %>" id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>-tab">
          <section>
            <%= turbo_frame_tag "#{section.label}_section", src: profile_section_boxes_path(@profile, section), loading: :lazy do %>
              <%= render 'shared/spinner' %>
            <% end %>
          </section>
        </div>
        <% active = "" %>
      <% end %>

    </div>
  </section>
  <%= turbo_frame_tag :remote_modal %>
</div><% #tr_switchable %>
