<% content_for :body_tag do %>
<body
  id="tr_switchable"
  data-controller="language"
  data-language-full-value="<%= translation_classlist(@profile) %>"
  data-language-active-value="btn btn-sm btn-primary"
  data-language-inactive-value="btn btn-sm btn-secondary"
  class="<%= translation_classlist(@profile) %>"
>
<% end %>

<% content_for :header do %>
<header role="banner" class="header header-light header-fixed">
	<div class="header-light-content">
		<a class="logo" href="https://www.epfl.ch">
			<img src="<%= belurl 'svg/epfl-logo.svg' %>" alt="Logo EPFL, Ecole polytechnique fédérale de Lausanne" class="img-fluid">
		</a>
		<h1 class="site-title">
			<a href="/"><%= t 'app.long_name' %></a>
		</h1>
		<!-- language switcher, two elements -->
		<nav class="nav-lang nav-lang-short ml-auto pr-lg-5">
      <ul>
        <% # TODO: remove after migration from legacy %>
        <% ado = Rails.configuration.enable_adoption && @adoption.present? && !@adoption.accepted? %>
        <% if @profile.translations.count > 1 %>
          <li id="multilang_editor">
            <h5><%= t ".title.editing_language" %></h5>
            <% sl = current_work_translation(@profile) %>
            <% @profile.translations.each do |l| %>
              <%= button_tag(
                t("lang.version.#{l}"),
                class: l==sl ? "btn btn-sm btn-primary" : "btn btn-sm btn-secondary",
                data: {
                  "action": "language#setEnabledLanguage",
                  "language-target": "button",
                  "langcls": "tr_enable_#{l}",
                }
              ) %>
            <% end %>
          </li>
        <% end %>
        <% @profile.translations.each do |l| %>
          <li>
            <%= link_to(
              icon_text('check-circle', t('action.preview_in', lang: t("lang.#{l}"))),
              ado ? preview_path(sciper_or_name: @person.email_user, lang: l) : person_path(sciper_or_name: @person.email_user, lang: l),
              class: "btn btn-link", target: '_blank'
            ) %>
          </li>
        <% end %>
        <%#= render 'layouts/elements/user' %>
        <%#= language_switcher %>
      </ul>
		</nav>
	</div>
</header>
<% end %>

<section id="name_section">
  <h2><%= t ".title.editing", name: @person.name.display, sciper: @person.sciper %></h2>
</section>

<% if allowed_to?(:manage_photos?, @profile) %>
<section id="pictures_section">
  <%= render 'pictures/pictures', profile: @profile, pictures: @profile.pictures %>
</section>
<% end %>

<p data-controller="social"></p>
<hr>

<section>
  <%= turbo_frame_tag "profile_section" do %>
    <%= render "editable_profile", profile: @profile %>
  <% end %>
</section>

<hr>
<section id="accreds_section">
  <%= turbo_frame_tag "accreds_index", src: profile_accreds_path(@profile), loading: :lazy do %>
    <%= render 'shared/spinner' %>
  <% end %>
</section>

<hr>

<section id="contact_boxes_section">
  <h3><%= t '.title.boxes_contact' %></h3>
  <%= render "flat_sections", sections: @contact_sections, profile: @profile %>
</section>

<section id="boxes_section">
  <h3><%= t '.title.boxes_main' %></h3>
  <%= render "shared/tabs", tabs: @sections.map.with_index { |section, i|
    {
      id: "section_#{section.label}",
      label: section.t_title,
      name: "edit-tabs-#{@profile.id}",
      frame_id: "#{section.label}_section",
      src: profile_section_boxes_path(@profile, section)
    }
  } %>
</section>


<%= turbo_frame_tag :remote_modal %>
<%= turbo_frame_tag(
  "editor",
  tabindex: 0,
  data: {
    controller: "dismissable",
    action: "keydown.esc->dismissable#dismiss",
    "dismissable-target": "content"
  }
) %>
