<%= render "shared/motd", motds: Motd.visible %>

<% content_for :body_tag do %>
<body id="tr_switchable" class="tr_enable_<%= I18n.locale %>" data-controller="stoca" >
<% end %>

<% content_for :header do %>
<header role="banner" class="header header-light header-fixed">
	<div class="header-light-content">
		<a class="logo" href="https://www.epfl.ch">
			<img src="<%= belurl 'svg/epfl-logo.svg' %>" alt="Logo EPFL, Ecole polytechnique fédérale de Lausanne" class="img-fluid">
		</a>
		<h1 class="site-title mr-5">
			<a href="/"><%= t 'app.long_name' %></a>
		</h1>
		<%= render "inline_languages_form", profile: @profile %>
		<div class="custom-controls-inline ml-auto mr-5">
      <% ado = Rails.configuration.enable_adoption && @adoption.present? && !@adoption.accepted? %>
      <% if @profile.translations.count > 1 %>
        <span class="small"><%= t(".title.edit_language") %></span>
        <% sl = I18n.locale %>
        <% @profile.translations.each do |l| %>
          <% if l == sl %>
            <span class="btn btn-sm btn-primary"><%= t "lang.native.#{l}" %></span>
          <% else %>
            <%= link_to t("lang.native.#{l}"), { lang: l.to_s }, class: "btn btn-sm btn-secondary", aria: { label: t("lang.native.#{l}") } %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to(
        icon_text("monitor", t('action.preview')),
        ado ? preview_path(sciper_or_name: @person.email_user, lang: I18n.locale) : person_path(sciper_or_name: @person.email_user, lang: I18n.locale),
        target: '_blank',
        class: "btn btn-sm btn-secondary"
      ) %>
      <% # disable adoption button in edit page until NM confirmation %>
      <% if @adoption && !@adoption.accepted %>
            <%= form_with(model: @adoption, class: 'form-inline ') do |form| %>
              <%= form.hidden_field :accepted, value: true %>
              <%= form.submit t('people.adopt.confirm_from_edit_page'), class: 'btn btn-sm btn-primary' %>
            <% end %>
      <% end %>
      <%= link_to icon('help-circle'), help_ui_path(label: 'multilang'), method: :get, data: {turbo_stream: true, turbo_method:'get'} %>
		</div>
	</div>
</header>
<% end %>

<section id="name_section">
  <h2><%= t ".title.editing", name: @person.name.display, sciper: @person.sciper %></h2>
</section>

<% if allowed_to?(:manage_photos?, @profile) %>
<section id="pictures_section">
  <%= render 'pictures/pictures', profile: @profile, pictures: @profile.pictures %>
</section>
<% end %>

<p data-controller="social"></p>
<hr>

<section>
  <%= turbo_frame_tag "profile_section" do %>
    <%= render "editable_profile", profile: @profile %>
  <% end %>
</section>

<hr>
<section id="accreds_section">
  <%= turbo_frame_tag "accreds_index", src: profile_accreds_path(@profile), loading: :lazy do %>
    <%= render 'shared/spinner' %>
  <% end %>
</section>

<hr>

<section id="contact_boxes_section">
  <%= render "flat_sections", sections: @contact_sections, profile: @profile %>
</section>

<section id="boxes_section">
  <h3><%= t '.title.boxes_main' %></h3>
  <%= render "shared/tabs", tabs: @sections.map.with_index { |section, i|
    {
      id: "section_#{section.label}",
      label: section.t_title,
      name: "edit-tabs-#{@profile.id}",
      frame_id: "#{section.label}_section",
      src: profile_section_boxes_path(@profile, section),
      help: section.t_help.present? ? help_section_path(section) : nil
    }
  } %>
</section>

<%= turbo_frame_tag :remote_modal %>

<%= turbo_frame_tag "editor-overlay" %>
<%= turbo_frame_tag(
  "editor",
  tabindex: 0,
  data: {
    controller: "dismissable",
    action: "keydown.esc->dismissable#dismiss",
    "dismissable-target": "content"
  }
) %>
<%= turbo_frame_tag(
  "help",
  data: {
    controller: "dismissable",
    action: "keydown.esc->dismissable#dismiss",
    "dismissable-target": "content"
  }
) %>
