<p><%= t "messages.function_change_explain" %></p>
<% if @have_errors %>
  <p><%= t "error.function_change.", count: @function_change.errors.count %></p>
  <ul>
    <% @function_change.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @function_change, url: "/accreditations/#{@accreditation.id}/function_changes", local: false, class: "instaform") do |form| %>
  <div class="form-group">
    <%= form.label FunctionChange.human_attribute_name(:function) %>
    <%= form.text_field :function, placeholder: true %>
  </div>
  <div class="form-group">
    <%= form.label FunctionChange.human_attribute_name(:reason) %>
    <%= form.text_area :reason %>
  </div>
  <div class="form-group">
    <%= form.label FunctionChange.human_attribute_name(:accreditors) %> 
    <div class="form-checkboxes">
      <%= form.collection_check_boxes(:accreditor_scipers, @accreditors, :sciper, :display) %>
    </div>
  </div>
  <%= form_actions(form, @function_change) %>
<% end %>
