<p><%= t "messages.function_change_explain" %></p>
<% if @have_errors %>
  <p><%= t "error.function_change.", count: @function_change.errors.count %></p>
  <ul>
    <% @function_change.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @function_change, url: "/accreditations/#{@accreditation.id}/function_changes", local: false, class: "instaform") do |form| %>
  <%= single_text_field(form, :function_en, required: true) %>
  <%= single_text_field(form, :function_fr, required: true) %>
  <%= single_text_area(form, :reason, required: true) %>

  <%= form_group do %>
    <%= form_label(form, :accreditors, required: true) %>
    <div class="form-checkboxes">
      <%= form.collection_check_boxes(:accreditor_scipers, @accreditors, :sciper, :display) %>
    </div>
  <% end %>
  <%= form_actions(form, @function_change, cancel_label: t("action.cancel"), submit_label: t("action.send")) %>
<% end %>
