<% @accreds.each_with_index do |accred, indx| %>
  <%= ee_collapse(position_with_class_delegate(accred,@person.class_delegate?,@person.gender), {expanded: indx==0}) do -%>
    <div class="d-flex pt-2 pb-2">

    <% unless accred.hidden_addr? || (a=@person.address(accred.unit_id)).nil? %>
      <div class="flex-grow"><%= address(a) %></div>
    <% end %>
      <div>
        <% unless accred.hidden_addr? || (phones=@person.visible_phones(accred.unit_id)).nil? %>
          <p>
            <% phones.each_with_index do |phone, phindx| %>
              <span class="people-btn">
                <%= phone_link(phone.number, class: "btn btn-sm btn-secondary mb-2 align-baseline") %>
                <br>
              </span>
            <% end %>
            <small>
            <% if (r=@person.room(accred.unit.id)).present? %>
              <%= t "office" %>: <%= link_to r.name, r.url.to_s, target: "_new" %><br />
            <% end %>
              <%= hierarchy_links accred.unit.hierarchy %>
            </small>
          </p>
        <% end %>
        <% if accred.unit.url.present? %>
          <p>
            <span class="sr-only"><%= t "website" %>: </span>
            <%= link_to accred.unit.url, accred.unit.url %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
