<button class="collapse-title collapse-title-desktop collapsed" type="button" data-toggle="collapse"  onclick="toggleVis('admin-data')">
  <span style="font-size:small; font-weight: normal;"><%= t "people.admin_data.title" %></span>
</button>
<div id="admin-data" style="display: none;">
  <dl class="definition-list definition-list-grid data-list" style="font-size: smaller;">
			<dt><%= t "people.admin_data.sciper" %></dt>
			<dd><%= @admin_data.sciper %></dd>
			<dt><%= t "people.admin_data.sap" %></dt>
			<dd><%= @admin_data.sapid %></dd>
			<dt><%= t "people.admin_data..nebis" %></dt>
			<dd><%= @admin_data.nebis %></dd>
			<dt><%= t "people.admin_data.username" %></dt>
			<dd><%= @admin_data.username %></dd>
			<dt><%= t "people.admin_data.gid" %></dt>
			<dd><%= @admin_data.gid %></dd>
			<dt><%= t "people.admin_data.home" %></dt>
			<dd><%= @admin_data.home %></dd>
  </dl>
</div>
