<section>
<% if authenticated? && @admin_data.present? %>
  <details id="admin_data" <%= flash[:adata]=='open' ? 'open=""' : '' %> >
    <summary><%= t ".title" %></summary>
		<dl class="definition-list definition-list-grid data-list">
			<dt><%= t ".sciper" %></dt>
			<dd><%= @admin_data.sciper %></dd>
			<dt><%= t ".sap" %></dt>
			<dd><%= @admin_data.sapid %></dd>
			<dt><%= t ".username" %></dt>
			<dd><%= @admin_data.username %></dd>
			<dt><%= t ".gid" %></dt>
			<dd><%= @admin_data.gid %></dd>
			<dt><%= t ".home" %></dt>
			<dd><%= @admin_data.home %></dd>
		</dl>
		<%= link_to t("people.admin_data.distros", name: @person.name.display), "https://cadiwww.epfl.ch/listes?sciper=#{@admin_data.sciper}", target: 'blank' %>
  </details>
<% else %>
  <%= link_to icon_text('user', t('.title')), admin_data_path(sciper_or_name: @person.slug) %>
<% end %>
</section>
