<section>
  <header class="collapse-title collapse-title-desktop collapsed" data-toggle="collapse" data-target="#admin-data" aria-expanded="false" aria-controls="admin-data">
	  <p><%= t ".title" %></p>
  </header>
  <div class="collapse collapse-item collapse-item-desktop" id="admin-data">
		<dl class="definition-list definition-list-grid data-list">
			<dt><%= t ".sciper" %></dt>
			<dd><%= @admin_data.sciper %></dd>
			<dt><%= t ".sap" %></dt>
			<dd><%= @admin_data.sapid %></dd>
			<dt><%= t ".nebis" %></dt>
			<dd><%= @admin_data.nebis %></dd>
			<dt><%= t ".username" %></dt>
			<dd><%= @admin_data.username %></dd>
			<dt><%= t ".gid" %></dt>
			<dd><%= @admin_data.gid %></dd>
			<dt><%= t ".home" %></dt>
			<dd><%= @admin_data.home %></dd>
		</dl>
  </div>
</section>
