<div class='d-flex flex-wrap justify-content-between align-items-baseline'>
<p id='contact'>
  <% if @person.public_email %>
  <%= link_to @person.public_email, "mailto:#{@person.public_email}", class: "btn btn-sm btn-primary" %>
  <% end %>

  <% if @person.default_phone and @profile.show_phone %>
  <%= phone_link(@person.default_phone.number, class: "btn btn-sm btn-secondary") %>
  <% end %>

  <% if @profile.present? && @profile.personal_web_url? %>
    <%= link_to(@profile.personal_web_url, @profile.personal_web_url, class: "btn btn-sm btn-secondary") %>
  <% end %>
</p>
<p>
  <small>
    <%= link_to "vCard", person_path(format: "vcf") %>
    <%= link_to "Atari", "https://atari.epfl.ch/#{@person.sciper}", target: 'new' if allowed_to?(:show_atari?, @person) %>
  </small>
</p>
</div>
<% if @profile.show_nationality? %>
<p>
  <%= @profile.t_nationality %>
</p>
<% end %>