<% if @current_phds.present? %>
  <h3><%= t ".title.current_phd" %></h3>
  <p>
    <%= @current_phds.map{|t|
      link_to(t.name, person_url(sciper_or_name: t.sciper))}.join(", ").html_safe
    %>
  </p>
<% end %>

<% if @past_phds_as_director.present? ||  @past_phds_as_codirector.present? %>
  <h3><%= t ".title.past_phd" %></h3>
  <% if @past_phds_as_director.present? %>
    <p><%= @past_phds_as_director.map{ |t| link_to(t.name, t.doi_url)}.join(", ").html_safe %></p>
  <% end %>
  <% if @past_phds_as_codirector.present? %>
    <p><%= @past_phds_as_codirector.map{ |t| link_to(t.name, t.doi_url)}.join(", ").html_safe %></p>
  <% end %>
<% end %>

<% if @courses.present? %>
  <h3><%= t ".title.courses" %></h3>
  <div class="list-group">
  <% @courses.each do |c| %>
    <div class="list-group-item list-group-item-borderless">
      <h4><%= c.t_title %></h4>
      <p class="small">
        <%= link_to(c.code, c.edu_url(I18n.locale)) %> <%#= c.course_instances.map{|ci| "#{ci.section}/#{ci.level}"}.join(", ") %>
      </p>
      <% if (d=c.t_description).present? %>
        <p><%= d %></p>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
