<%= render "shared/motd", motds: Motd.for_frontend %>

<% if @special_partial.present? || @special_message.present? %>
  <% content_for :special_message do %>
   <div id="special">
      <% if @special_partial %>
        <%= render @special_partial %>
      <% else %>
        <p><%= @special_message %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
<% content_for :head do %>
  <link rel="canonical" href="<%= request.base_url + "/" + @person.slug %>">
  <!-- Open Graph / Facebook -->
  <%= render "opengraph" %>
  <!-- Schema.org / Google -->
  <%= render "schemaorg" %>
  <% end %>
<% content_for :menu do %>
  <!-- TODO: decide if we show the edit profile link always or only to logged in users -->
  <% if @profile.present? %>
  <li>
    <%= link_to icon_text("edit", t("action.edit_profile")), @profile.persisted? ? edit_profile_path(@profile) : new_person_profile_path(sciper_or_name: @person.slug) %>
  </li>
  <% end %>
<% end %>

<div class="row people-basic-info">
  <div class="col-md-6 col-lg-4">
    <%= profile_photo(@profile&.photo(@audience), class: 'mx-auto img-fluid bg-gray-100', variant: :large, size: 300) %>
    <% @side_zone_bbs&.each do |section, boxes| %>
      <%= render partial: "section", locals: {section: section, boxes: boxes, sortable: false} %>
    <% end %>
    <%= render "admin_data" %>
  </div>
  <div class="people-contacts col-md-6 col-lg-8">
    <h1 class="mb-3"><%= @person.name.display %></h1>
    <%= render "contact" %>
    <%= render "accreds" %>
    <% @contact_zone_bbs&.each do |section, boxes| %>
      <%= render partial: "section", locals: {section: section, boxes: boxes} %>
    <% end %>
  </div>
</div><!-- people basic infos -->

<% if @main_zone_bbs.present? %>
  <%= render "shared/tabs", tabs: (
    (@main_zone_bbs.present? ? @main_zone_bbs.map { |(section, boxes)|
      {
        id: "section_#{section.label}",
        label: section.t_title,
        name: "show-tabs-#{section.label}",
        partial: "section",
        locals: {
          section: section,
          boxes: boxes,
          sortable: false
        }
      }
    } : [])
  ) %>
<% end %>
