<p>Bonjour,</p>

<p>
  L'utilisateur <strong><%= @person.name.display %></strong>
  (sciper <strong><%= @person.sciper %></strong>)
  a soumis une demande de changement de nom usuel.
</p>
<p>
  <strong>Prénom actuel :</strong> <%= @name_change_request.old_first %><br>
  <strong>Nom actuel :</strong> <%= @name_change_request.old_last %><br>
  <strong>Nouveau prénom usuel demandé :</strong> <%= @name_change_request.new_first %><br>
  <strong>Nouveau nom usuel demandé :</strong> <%= @name_change_request.new_last %>
</p>

<p><strong>Motivation :</strong> <%= @name_change_request.reason %></p>

<p>Merci de traiter cette demande selon la procédure habituelle.<br/>
Cordialement,</p>
