<%= item_index_box(publication) do %>
  <h3 class="h5 mb-0"><%= publication.title %></h3>
  <p class="text-muted small mb-0">
    <%= publication.journal %> - <%= publication.year %>
  </p>
  <% if publication.url.present? %>
  <p class="muted">
    <%= link_to t('.link'), publication.url, class: "btn btn-primary btn-sm mt-2", target: "_blank", rel: "noopener noreferrer" %>
  </p>
  <% end %>
<% end %>
