<%= turbo_frame_tag "add_#{section.label}_box"  do %>
<p>
  <% (boxes || []).each do |mb| %>
    <% if mb.container? %>
      <%= form_with(model: [profile, Box.new(model: mb)], local: false, class: "instaform") do |form| %>
        <%= form.hidden_field :model_box_id %>
        <%= form.submit icon('plus-circle'), class: "btn-confirm" %>
      <% end %>
    <% else %>
      <%= link_to( 
        icon('plus-circle'), 
        new_profile_box_path(profile, model_box_id: mb.id),
        class: "btn-confirm",
        method: :get,
        data: {turbo_stream: true, turbo_method:'get'}
      ) %>
    <% end %>
    <%= mb.t_description %>
    <br/>
  <% end %>
</p>
<% end %>
