<nav class="add-box-buttons">
  <% (boxes || []).each do |mb| %>
    <%
    # if box is a container like IndexBox, then we are forced to create it
    # before adding content to it. => boxes#create
    %>
    <% if mb.container? %>
      <%= form_with(model: [profile, Box.new(model: mb)], local: false, class: "instaform") do |form| %>
        <%= form.hidden_field :model_box_id %>
        <%= form.button type: :submit, class: "btn btn-secondary btn-sm", style: "display: inline;" do %>
          <%= icon_text('plus', mb.t_description) %>
        <% end %>
      <% end %>
    <% else %>
      <%
      # if instead the content of the box is in the box itself like for RichTextBox,
      # then we show boxes#new as we would do for a standard CRUD
      %>
      <%= link_to(
        icon_text('plus', mb.t_description),
        new_profile_box_path(profile, model_box_id: mb.id),
        class: "btn btn-secondary btn-sm",
        method: :get,
        data: {turbo_stream: true, turbo_method:'get'}
      ) %>
    <% end %>
  <% end %>
</nav>
