<%= turbo_frame_tag "#{@section.label}_section" do %>


<%#= turbo_frame_tag "#{@section.label}_boxes", src: nil, target: nil, data: {controller: "sortable"} do %>
<%= turbo_frame_tag "#{@section.label}_boxes" do %>
  <% if @boxes.present? %>
    <% @boxes.each do |box| %>
      <%= turbo_frame_tag dom_id(box), "data-sortable-url" => box_path(box, format: 'json') do %>
        <details>
          <summary><%= render "boxes/editable_box", box: box %></summary>
          <%= render box.to_partial_path, box: box %>
        </details>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class='d-flex justify-content-between'>
<div>
<% if @optional_boxes.present? %>
  <%= turbo_frame_tag "add_#{@section.label}_box" do %>
    <%= render "boxes/add", profile: @profile, section: @section, boxes: @optional_boxes %>
  <% end %>
<% end %>
</div>
<%= link_to icon('help-circle'), help_section_path(@section), method: :get, data: {turbo_stream: true, turbo_method:'get'} %>
</div>

<% end %>
