<%= form_with(
      model: profile,
      url: profile_path(profile, part: :inclusivity),
      method: :patch,
      data: { controller: "auto-submit" },
      class: "d-inline-block"
    ) do |form| %>

  <div class="form-check form-check-inline">
    <%= form.radio_button :show_inclusivity, true, id: dom_id(profile, "show_inclusivity_true"), class: "form-check-input" %>
    <%= form.label :show_inclusivity, t("visibility.show"), for: dom_id(profile, "show_inclusivity_true"), class: "form-check-label" %>
  </div>

  <div class="form-check form-check-inline">
    <%= form.radio_button :show_inclusivity, false, id: dom_id(profile, "show_inclusivity_false"), class: "form-check-input" %>
    <%= form.label :show_inclusivity, t("visibility.hide"), for: dom_id(profile, "show_inclusivity_false"), class: "form-check-label" %>
  </div>

<% end %>
