<h3>Something to playround with</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th><th>Links</th><th>Profile</th><th>Action</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
  <% @data.each do |d| %>
    <% a = @adoptions[d.sciper] %>
    <tr>
      <td>
        <%= d.name %>
      </td>
      <td>
        <%= link_to "sciper", person_path(d.sciper) %>
        <% if d.email.present? %>
          |
          <%= link_to "name", person_path(d.email) %>
        <% end %>
        <- <%= link_to "reference", "https://people.epfl.ch/#{d.sciper}" %>
      </td>
      <td>
        <% if a.present? && !a.accepted? %>
          <span class="badge badge-danger">legacy</span>
        <% else %>
          <span class="badge badge-success">new</span>
        <% end %>
      </td>
      <td>
        <% if a.present? && !a.accepted? %>
          <%= form_with(model: a, class: "form-inline") do |form| %>
            <%= form.hidden_field :accepted, value: true %>
            <%= form.submit t('dev.action.adopt'), class: 'btn btn-secondary btn-mini' %>
          <% end %>
        <% else %>
          <% if a.present? %>
            <%= form_with(model: a, class: "form-inline") do |form| %>
              <%= form.hidden_field :accepted, value: false %>
              <%= form.submit t('dev.action.revert'), class: 'btn btn-secondary btn-mini' %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= d.desc %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
