<% # award.errors.add :base, "This is a very severe error" %>
<% # award.errors.add :base, "This is a less severe error" %>

<%= form_with(model: [profile, award], local: false, class: "instaform") do |form| %>
  <% translations = (profile ||= award.profile).translations %>
  <%= render "shared/form_errors", item: award if award.errors.any? %>

  <%= translated_text_fields(form, :title, translations) %>
  <%= single_text_field(form, :issuer) %>
  <%= year_selection_field(form, :year) %>
  <%= single_text_field(form, :url) %>
  <%= single_text_field(form, :category) %>
  <%= single_text_field(form, :origin) %>

  <div class="form-group">
    <%= form.label Award.human_attribute_name(:audience) %>
    <span class="inform_visibility"><%= audience_selector form %></div>
  </div>
  <%= form_actions(form, award) %>
<% end %>



