<%= turbo_frame_tag :awards_index do %>
	<%= turbo_frame_tag "awards", src: nil, target: nil, data: {controller: "sortable"} do %>
		<% @awards.each do |award| %>
			<%= render 'editable_award', award: award %>
		<% end %>
	<% end %>

	<div class="list-group-item" %>
		<%= turbo_frame_tag "new_award_form" do %>
		  <%= add_record_button(new_profile_award_path(@profile), name: "award") %>
		<% end %>
	</div>
<% end %>
