<%= item_index_box(experience) do %>
  <%= tag_for_localized_attr "h4", experience, :title, class: "h5 mb-0" %>
  <%= tag_for_localized_attr "p", experience, :description, class: "mb-1 small" %>
  <p class="text-muted small mb-0">
    <%= [experience.year_begin, experience.year_end].compact.join("–") %>
    <%= experience.location %>
  </p>
<% end %>
