<%= form_with(model: [profile, experience], local: false, class: "instaform") do |form| %>
  <% translations = (profile ||= experience.profile).translations %>
  <%= render "shared/form_errors", item: experience if experience.errors.any? %>

  <%= translated_text_fields(form, :title, translations: translations, label: ".title") %>
  <%= single_text_field(form, :location, label: ".location") %>
  <div class="form-group">
    <%= form.label t('.period') %>
    <%= form.number_field :year_begin, in: 1950..Date.today.year %>
    <%= form.number_field :year_end, in: 1950..Date.today.year %>
  </div>  
  <%= translated_rich_text_areas(form, :description, translations: translations, label: ".description") %>

  <%= form_actions form, experience %>

<% end %>









