<%= form_with(model: [:admin, sp], class: "instaform") do |form| %>

  <% if sp.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sp.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% sp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= single_text_field(form, :name_en) %>
  <%= single_text_field(form, :name_fr) %>
  <%#= single_text_field(form, :name_it) %>
  <%#= single_text_field(form, :name_de) %>

  <div class="custom-control custom-checkbox">
    <%= form.checkbox :default, class: "custom-control-input", id: "cb_default" %>
    <%= tag.label "Default when none selected", class: "custom-control-label", for: "cb_default" %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
