<div id="usual_name_change">
  <h5><%= t("profiles.name_change.request_title") %></h5>

  <%= form_with model: name_change_request, url: profile_name_change_requests_path, local: false do |f| %>
    <%= single_text_field(f, :new_first) %>
    <%= single_text_field(f, :new_last) %>
    <%= single_text_area(f, :reason) %>

    <div class="text-center mt-3">
      <%= f.submit t("profiles.name_change.submit"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
