<%= form_with(model: [profile, achievement], local: false, class: "instaform") do |form| %>
  <%= render "shared/form_errors", item: achievement if achievement.errors.any? %>

  <p><%= t ".help.rules" %>.</p>

  <%= translated_text_fields(form, :description, required: true) %>
  <%= single_text_field(form, :url) %>
  <%= property_select(form, :category, Achievement.categories, required: true) %>

  <%= form_actions(form, achievement) %>
<% end %>
