<% # achievement.errors.add :base, "This is a very severe error" %>
<% # achievement.errors.add :base, "This is a less severe error" %>

<%= form_with(model: [profile, achievement], local: false, class: "instaform") do |form| %>
  <% translations = (profile ||= achievement.profile).translations %>
  <%= render "shared/form_errors", item: achievement if achievement.errors.any? %>

  <%= translated_text_fields(form, :description, translations) %>
  <%= year_field_selection(form, :year, 'achievement.year', options: { min_year: 2015, max_year: 2025 }) %>
  <%= single_text_field(form, :url) %>
  <%= single_text_field(form, :category) %>

  <div class="form-group">important    <span class="inform_visibility"><%= audience_selector form %></div>
  </div>
  <%= form_actions(form, achievement) %>
<% end %>
