<%= turbo_stream.append "achievements" do %>
<%= render "editable_achievement", achievement: @achievement %> 
<% end %>

<%= turbo_stream.update "new_achievement_form" do %>
	<div class="row justify-content-center">
		<%= link_to icon_text('plus-circle', t('add')), new_profile_achievement_path(@profile), class: "btn btn-secondary btn-sm", data: {turbo_stream: true} %>
	</div>
<% end %>
<%= turbo_stream.replace("flash-messages", partial: "shared/flash") %>