<%= turbo_frame_tag dom_id(accred), "data-sortable-url" => accred_path(accred, format: 'json') do %>
  <div class="list-group-item rpush">
    <div>
      <h4 class="h5 mb-0">
        <%= accred.t_unit %>
      </h4>
      <%= accred.role.t_label(@profile.gender) %>
      <%= remote_modal_for(new_accreditation_function_change_path(accred.accreditation_id)) do %>
        <%= icon('edit-3') %>
      <% end %>
    </div>
    <% if count > 1 %>
    <div>
      <%= render 'shared/item_visibility', item: accred %>
    </div>
    <% end %>
  </div>
<% end %>
