<%= turbo_frame_tag dom_id(accred), "data-sortable-url" => accred_path(accred, format: 'json') do %>
  <div class="list-group-item rpush">
    <div>
      <h4 class="h5 mb-0">
        <%= accred.t_unit %>
      </h4>
      <%= accred.role.t_label(@profile.gender) %>
      <% if accred.staff? %>
        <%= link_to icon('edit-3'), new_accreditation_function_change_path(accred.accreditation_id), data: {turbo_stream: true} %>
      <% end %>
      <% if (sa = accred.short_address_and_phone).present? %>
        <br/>
        <%= render "shared/item_visibility", item: accred, property: "address" %>
        <%= sa %>
        <%= link_to icon('edit-3'), "https://atela.epfl.ch/#/persons/#{@profile.sciper}", target: "blank" %>
      <% end %>
    </div>
    <% if count > 1 %>
      <div>
        <%= render 'shared/item_visibility', item: accred %>
        <%= render 'shared/item_sortable' %>
      </div>
    <% end %>
  </div>
<% end %>
