<table class="table table-sortable" data-tablesaw-sortable>
  <thead>
    <tr>
      <th>Props</th>
      <th data-tablesaw-sortable-col>Kind</th>
      <th data-tablesaw-sortable-col>Subkind</th>
      <th data-tablesaw-sortable-col>Section</th>
      <th>Label</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/model_boxes/model_box", collection:  boxes %>
  </tbody>
</table>

<p class="small">
  <%= icon('paperclip') %> standard / <%= icon('circle') %> optional
  <br/>
  <%= icon('eye') %> visible visible / <%= icon('eye-off') %> hidden title
  <br/>
  <%= icon('lock') %> locked title / <%= icon('edit-3') %> editable title
</p>
