<%= form_with(model: [profile, education], local: false, class: "instaform") do |form| %>
  <% translations = (profile ||= education.profile).translations %>
  <%= render "shared/form_errors", item: education if education.errors.any? %>

  <%= translated_text_fields(form, :title, translations: translations, label: ".title") %>
  <%= translated_text_fields(form, :field, translations: translations, label: ".field") %>

  <%= single_text_field(form, :director, label: ".director") %>
  <%= single_text_field(form, :school, label: ".school") %>

  <div class="form-group">
    <%= form.label t('.period') %>
    <%= form.number_field :year_begin, in: 1950..Date.today.year %>
    <%= form.number_field :year_end, in: 1950..Date.today.year %>
  </div>  
  <%= form_actions form, education %>
<% end %>