<%= turbo_stream.append "educations" do %>
<%= render "editable_education", education: @education %> 
<% end %>

<%= turbo_stream.update "new_education_form" do %>
  <div class="row justify-content-center">
    <%= link_to icon_text(plus-circle', 'add') ,new_profile_education_path(@profile), class: "btn btn-secondary btn-sm", data: {turbo_stream: true} %>
  </div>
<% end %>
<%= turbo_stream.replace("flash-messages", partial: "shared/flash") %>
