<tr id="<%= dom_id(translation) %>" style="cursor: pointer" class="tr-data" data-trform-target="data" data-action="click->trform#show_form">
  <td><%= translation.key %></td>
  <td><%= translation.en.truncate(40) %></td>
  <td><%= translation.fr&.truncate(20) %></td>
  <td><%= translation.it&.truncate(20) %></td>
  <td><%= translation.de&.truncate(20) %></td>
  <td><%= icon(translation.done? ? 'check-square' : 'square') %></td>
  <td><%= translation.updated_at&.strftime('%Y-%m-%d %H:%M') %></td>
</tr>
