<tr id="<%= dom_id(translation) %>" data-controller="trform">
  <td><%= translation.group %></td>
  <td>
    <%= translation.key.truncate(40, omission: " • #{translation.key.last(20)}") %>
    <div
      id="<%= dom_id(translation, "form") %>"
      data-trform-target="form"
      data-action="keydown.esc->trform#hide_form"
      class="tr-form tr-hidden"
    >
      <p>Editing key: <tt><%= translation.key %></tt></p>
      <%= render "form", admin_translation: translation %>
    </div>
  </td>
  <td data-action="click->trform#show_form">
    <strong><%= translation.en.truncate(120) %></strong><br/>
    <%= translation.fr&.truncate(120) %><br/>
    <%= translation.it&.truncate(120) %><br/>
    <%= translation.de&.truncate(120) %>
  </td>
  <td><%= icon(translation.done? ? 'check-square' : 'square') %></td>
  <td><%= translation.updated_at&.strftime('%Y-%m-%d %H:%M') %></td>
  <td>
    <%= form_with(model: translation, url: autotranslate_admin_translation_path(translation), local: false) do |f| %>
      <%= f.submit "Auto", class: "btn btn-tertiary btn-sm" %>
    <% end %>
    <%= form_with(model: translation, url: propagate_admin_translation_path(translation), local: false) do |f| %>
      <%= f.submit "Clone", class: "btn btn-tertiary btn-sm" %>
    <% end %>

    <%# = link_to("auto", admin_translation_autotranslate_path(translation), class: "btn btn-tertiary btn-sm", method: :put, data: { turbo_stream: true, turbo_method: 'put' }) %>
  </td>
</tr>
