<%= form_with(
  model: [profile, social],
  local: false,
  class: "instaform",
  data: {
    controller: 'socials',
    'socials-pattern-value': social.url_pattern,
  }
) do |form| %>
  <%= render "shared/form_errors", item: social if social.errors.any? %>
  <%= form.hidden_field(:tag) if social.new_record? %>

  <%= single_text_field(
    form, :value,
    required: true,
    placeholder: social.specs&.placeholder,
    data: {
      "socials-target" => "valueField",
      action: "input->socials#onValueChange"
    }
  ) %>
  <p>
    <%= icon("corner-down-right") %>
    <%= link_to social.url, social.url, target: "_blank", data: {socials_target: "urlPreview"} %>
  </p>
  <%= form_actions(form, social) %>




  <% end %>
