<!doctype html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/elements/head_minimal" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/envbanner' if !Rails.env.production? %>
    <%= render 'layouts/admin_menu' %>
    <%= render "layouts/elements/header_minimal" %>
    <div class="main-container">
      <div class="container pt-5 pb-5">
        <main id="main" class="content" role="main" >
          <%= render partial: "shared/flash" %>
          <%= yield %>
        </main>
      </div>

    </div>
    <%= render "layouts/elements/foot" %>
  </body>
</html>
