<!doctype html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/elements/head_minimal" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

<% if content_for?(:body_tag) %>
  <%= yield :body_tag %>
<% else %>
  <body>
<% end %>
    <%= render 'layouts/envbanner' if !Rails.env.production? %>
    <% if content_for?(:header) %>
      <%= yield :header %>
    <% else %>
      <%= render "layouts/elements/header_minimal" %>
    <% end %>
    <div class="main-container">

      <%= yield :breadcrumbs %>

      <div class="container pt-5 pb-5">
        <main id="main" class="content" role="main" >
          <%= render partial: "shared/flash" %>
          <%= yield %>
        </main>
      </div>

    </div>
    <%= render "layouts/elements/foot" %>
  </body>
</html>
