<!doctype html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/elements/head" %>
    <%= render "layouts/elements/google" if Rails.env.production? %>

    <%= stylesheet_link_tag "people", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body>
    <%= yield :special_message %>
    <%= render 'layouts/envbanner' unless Rails.env.production? %>
    </div>
    <%= render "layouts/elements/header" %>

    <div class="main-container pt-5">
      <main id="main" class="content" role="main" >
        <div class="container">
        <%= yield %>
        </div>
      </main>


    </div>
    <%= render "layouts/elements/footer" %>
    <%= render "layouts/elements/foot" %>
    <%= yield :motd %>
  </body>
</html>
